.wrapperContainer{
    width: 600px;
}
.container{
display: flex;
    flex-direction: column;
    margin-bottom: 15px;

}
.postsHeader{
    display: grid;
    grid-template-columns:  10fr 2fr;
    padding: 10px;
    margin-top: 15px;

display: flex;
    justify-content: space-between;
}
.postsBody{

}
.postBodyContentHeader{

}
.userInfo{

}
.myPosts{
    padding:10px;
}
.post {
    padding: 10px 0px 10px 0px;
}
.textareaProperty {
    display:block;
    box-sizing: border-box;
    width:30%;
    align-content: center;
    height: 20px;
    resize: none;
    overflow-y: hidden;
    border: 0;
    outline: 0;
    background: white;
    border-radius: 20px;
    padding:20px;
    font-weight: bold;
    font-size: 1.4em;
    color: #343434;}
