
.header {
    grid-area: h;
    background-color: #f6d570;background: rgb(63,118,251);
    background: linear-gradient(173deg, rgba(63,118,251,0.8361669242658424) 0%, rgba(215,130,28,0.839258114374034) 98%);
    border-radius: 10px;
}

.header img {
    padding-left: 20px;
    width: 70px;
}
.loginBlock{
    float: right;
}
