.app-wrapper {
    width: 1200px;
    min-height: 100vh;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-template-areas:
'h h'
'n c';
    gap:5px;

}
.app-wrapper-content {
    grid-area: c;
    background: rgb(58,123,180);
    background: linear-gradient(144deg, rgba(58,123,180,0.6599690880989181) 0%, rgba(62,154,49,0.6290571870170015) 88%, rgba(252,171,69,0.6306027820710973) 100%);
    border-radius: 10px;
}

